<div class="session" id="workshop-glyphs">
    <div class="speaker">
		<div class="image">
      <!--img src="img/2018/ws/georg.png"-->
      <!--img src="img/2018/ws/laurence.png"-->
      <img src="img/2018/ws/variable-trio.png">
    </div>
		<div class="info">
			<div class="name">Georg Seifert</div>
			<div class="twitter"><a href="http://www.twitter.com/glyphsapp/">@glyphsapp</a></div>
			<div class="bio">
				<p>Bauhaus University graduate Georg Seifert (b. 1978 in Halle an der Saale, Germany) is a
          type designer and a software developer.
          His typeface families Graublau Sans and Graublau Slab have become international bestsellers.
          He co-developed the typeface for the new Berlin Airport.
          He is most well known, however, for the font editor ‘Glyphs’, first released in 2011.
          Seifert lives and works in Berlin.</p>
			</div>
			<div class="name">Laurence Penney</div>
			<div class="twitter"><a href="http://www.twitter.com/Lorp/">@Lorp</a></div>
			<div class="bio">
				<p>
          Laurence Penney is a consultant in font technology based in Bristol, UK.
          Focussed on dynamic type tech, he specialized in TrueType: coding rasterizers,
          hinting fonts, and training others how to hint fonts. He later took on the
          challenge of creating MyFonts, the open platform selling fonts from all foundries,
          part of the team that made it market leader by a wide margin.
        </p>
          {% if page.short %}
							<p><a href="/ws-variablefonts.html">Read more</a></p>
          {% else %}
          <p>
            The recent revival of colour and variable fonts gives Laurence hope that the type
          world has not forgotten the best ideas from a generation ago and he looks forward
          to helping these technologies take off. Laurence’s Axis-Praxis website lets anyone
          play with variable fonts and, by means of Axis-Praxis as well as his talks & workshops,
          he hopes others will understand what the excitement is all about.
          </p>
          {% endif %}
			</div>
			<div class="name">Rainer Erich Scheichelbauer</div>
			<div class="twitter"><a href="http://www.twitter.com/mekkablue/">@mekkablue</a></div>
			<div class="bio">
				<p>
          A trained photographer, Rainer Erich (‘Eric’) Scheichelbauer (b. 1977 in Vienna, Austria)
          holds both a philosophy and a Dutch studies degree.
          He creates typefaces, works as a digital punchcutter for other type designers,
          and gives type design workshops on a regular basis.</p>
          {% if page.short %}
							<p><a href="/ws-variablefonts.html">Read more</a></p>
          {% else %}
          <p>
            Since he has joined the Glyphs team in 2012, he has been writing articles,
          tutorials, and Python scripts, as well as the blog and the handbook.
          He lives and works in Vienna, where he runs his type studio Schriftlabor.
          </p>
          {% endif %}
			</div>
			<div class="meta first">
				<div class="duration">Duration: One days</div>
				<div class="where">
          <b>Where:</b><br>
          The workshop will take place at:<br>
          Biblioteca Comunale di Faenza (1st Floor)<br>
          Via Manfredi n. 14<br>
          Faenza (RA)<br>
          (<a class="gmap" href="https://www.google.it/maps/place/Via+Manfredi,+14,+48018+Faenza+RA">View on Google Maps</a>)<br><br>

                    <b>What:</b><br>
                    <p>Bring your PC/MacBook with Glyphs 2 preinstalled. And a recent browser: If you do not run macOS High Sierra on your MacBook, download the latest Chrome or Firefox, please.
                    </p><br>

					<b>When:</b><br>
					Thursday 7th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.<br><br>

                </div>

                {% if site.tickets %}
                <div class="buy">
                    <a href="#tickets">Get your ticket</a>
                </div>
                {% endif %}
			</div>
		</div>
	</div>
	<div class="topic">
        <div class="title"><a href="/ws-variablefonts.html">CREATE YOUR OWN VARIABLE FONT with Laurence Penney (Axis Praxis), Rainer Scheichelbauer and Georg Seifert</a></div>
		<div class="abstract">
            <div><a href="/ws-variablefonts.html"><img src="/img/2018/ws/glyphs/glyphs_1.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="CREATE YOUR OWN VARIABLE FONT with Laurence Penney (Axis Praxis), Rainer Scheichelbauer and Georg Seifert" data-original-title="" title="CREATE YOUR OWN VARIABLE FONT with Laurence Penney (Axis Praxis), Rainer Scheichelbauer and Georg Seifert"></a></div>
			<p class="intro">One day workshop to learn to build a variable font.</p>

<p>Variable Fonts: the future of type. Learn how to build a variable font in Glyphs, and make it animate, even. You will learn how to set up font projects in Glyphs, add variable font axes to it, and walk home with an emoji animation and a variable font with a few letters and a few axes. You will test it in Axis Praxis, get it to work properly in the latest Adobe apps, and animate it with a little HTML and CSS in a web browser.



            {% if page.short %}
				<p><a href="/ws-variablefonts.html">Read more</a></p>
			{% else  %}

             <div><a href="/ws-variablefonts.html"><img src="/img/2018/ws/glyphs/glyphs_2.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="CREATE YOUR OWN VARIABLE FONT with Laurence Penney (Axis Praxis), Rainer Scheichelbauer and Georg Seifert" data-original-title="" title="CREATE YOUR OWN VARIABLE FONT with Laurence Penney (Axis Praxis), Rainer Scheichelbauer and Georg Seifert"></a></div>

            <p>Plus: which Python scripts and plug-ins can help you with building an OTVar font.<br>No prior experience in type design required. This workshop is for newbies and experienced type designers alike. (If necessary, we split into two groups.)<br>

            Be prepared for some fun. :-)</p>

            {% endif %}

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://2018.kerning.it/ws-variablefonts.html" addthis:title="CREATE YOUR OWN VARIABLE FONT with Laurence Penney (Axis Praxis), Rainer Scheichelbauer and Georg Seifert" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
